body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 40px auto;
    background: #818589;;
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 30px;
}

li {
    background: #818589;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
}

input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
}
button{
    margin-top: 20px;
    padding: 8px 16px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}