<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Message Form</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<span>
<h1>Add a task</h1>
<form action="/submit" method="post">
    <input type="text" name="title" placeholder="Type something..." />
    <input type="text" name="desc" placeholder="Beutifull Description"/>
    <button type="submit">Send</button>
</form>
</span>
<span>
<form action="/tasks" method="get">
    <button type="submit">View tasks</button>
</form>
</span>
</body>
</html>